@charset "CP850";
/*################################################################################################*/
/*
/*  BASIC CHROME - RAHMENLAYOUT
/*  
/*################################################################################################*/
/*** Compass Mixins */
/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*** Configuration */
/* Configuration */
/*** RESPONSIVE */
/*$break-widescreen: 2000px;*/
/**** WebfontIcons Modifications */
@font-face {
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  src: local("icon"), url("fonts/entypo.woff") format("woff"), url("fonts/entypo.ttf") format("truetype"), url("fonts/entypo.svg#PTSans-Bold") format("svg");
}

/*

Internetanwendungen für mobile Geräte
SS 2014

René Rose
info@rundwerk.de

Marcel Wallbaum
marcel.wallbaum@gmail.com

*/
/* Ressources */
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
  font-weight: normal;
}

/* Structure Elements */
/* line 54, ../sass/globals.scss */
html {
  font-size: 62.5%;
}

/* line 58, ../sass/globals.scss */
body {
  background-color: grey;
  width: 100%;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Nunito";
}

/* line 66, ../sass/globals.scss */
body > header {
  width: 100%;
}

/* line 70, ../sass/globals.scss */
#breadcrumb {
  background-color: #000000;
  width: 100%;
}

/* line 78, ../sass/globals.scss */
main {
  float: left;
}

/* line 82, ../sass/globals.scss */
body > aside {
  float: right;
}

/* line 86, ../sass/globals.scss */
body > footer {
  background-color: #000000;
  width: 100%;
}

/* line 91, ../sass/globals.scss */
h1 {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: lighter;
  color: lightgrey;
}

/* Content-Elements */
/* line 105, ../sass/globals.scss */
.fixfloat {
  clear: both;
}
